In [1]:
import pandas as pd
import numpy as np
from pandas.api.types import is_numeric_dtype
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df = df.drop(columns=["Surname", "CustomerId","RowNumber"], axis=1)

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
categorical_data = []

for name in list(df.columns):
    if is_numeric_dtype(df[name]):
        pass
    else:
        categorical_data.append(name)


df = pd.get_dummies(df, columns=categorical_data)

In [11]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

In [12]:
df.shape

(10000, 14)

In [14]:
y_data_set = pd.DataFrame(df.Exited) 
y_data_set.shape

(10000, 1)

In [16]:
x_data_set = df.drop(columns = ["Exited"])
x_data_set.shape

(10000, 13)

In [35]:
# Imopert libraries
import pandas as pd
import numpy as np
from pandas.api.types import is_numeric_dtype
import warnings
warnings.filterwarnings('ignore')

class NeuralNetwork:
    
    def __init__(self):
         # Learning Rate
        self.l_rate = 0.001
         # Total iterations
        self.epochs = 2000
    
    def gradient_descent(self, x_train_data, y_train_data):
        
        layers = [x_train_data.shape[1], 5, 4, 5, 3, 1]
        z = 0
        w = []
        b = []
        a = [0] * len(layers)
        z = [0] * len(layers)
        d_g = [0] * len(layers)
        da = [0] * len(layers)
        dz = [0] * len(layers)
        db = [0] * len(layers)
        dw = [0] * len(layers)
        
        a[0] = x_train_data.T # 12288x209
        m = x_train_data.shape[0] # Number of observations
        n = x_train_data.shape[1] # Number of features

        for j in range(1, len(layers)):
            
            w.append(np.random.rand(layers[j], layers[j-1]) * 0.01 ) # 5x12288
            b.append(np.zeros(((layers[j], 1)) ))# 5x1
 
        for e in range(self.epochs):

            for i in range(len(layers) - 1):  
                ########## Forward Propagation ###########
                z[i] = np.dot(w[i], a[i]) + b[i]  # (n[l] x m)
                a[i+1] = 1 / (1 + np.exp(-z[i])) # (n[l] x m))
        
                ######### Backward Propagation ###########

                # Derivative of sigmoid function
                # d_g = a * (1 - a)
                d_g[i] = (1 / (1 + np.exp(-z[i]))) * (1 - (1 / (1 + np.exp(-z[i])))) # (n[l] x m)

                  # Loss Funtion
                # da = -(y/a) + ((1-y)/(1-a))
                da[i] = (-(y_train_data.T / a[i+1]) + ((1 - y_train_data.T) / (1 - a[i+1]))) # (n[l] x m)

                # dz = da * d_g
                dz[i] = (da[i] * d_g[i]) # (n[l] x m)

                #dw = (dz * a) / m
                dw[i] = np.dot(dz[i], a[i].T) # (n[l] x n[l-1])

                # db = np.sum(dz)
                db[i] = np.sum(dz[i], axis=1, keepdims=True) / m  # (n[l] x 1)

                # w = w - alpha * dw
                # b = b - alpha * db
                w[i] =  w[i] - np.dot(self.l_rate, dw[i]) # (n[l] x n[l-1])
                b[i] = b[i] - np.dot(self.l_rate, db[i]) # (n[l] x 1)

        return [w, b]

    # Prediction :
    def prediction(self, parameters, x_test_data):
        layers = [x_test_data.shape[1], 50, 40, 50, 30, 1]
        a = [0] * 6
        a[0] = x_test_data.T
        z = [0] * 6
        a = [0] * 6
        for i in range(4):  
            z[i] = np.dot(parameters[0][i], a[i]) + parameters[1][i]
            a[i+1] = 1 / (1 + np.exp(-z[i])) # 5x209
        return a[-1]
    
    def categorical_data_handling(self, df):
        categorical_data = []
        for name in list(df.columns):
            if is_numeric_dtype(df[name]):
                pass
            else:
                categorical_data.append(name)
        return pd.get_dummies(df, columns=categorical_data)
    
    
    
def main():   
    
    # Create a class object
    nn = NeuralNetwork()

    df = pd.read_csv("Churn_Modelling.csv")
    df = df.drop(columns=["Surname", "CustomerId","RowNumber"], axis=1)
    
    df = nn.categorical_data_handling(df)

    y_data_set = pd.DataFrame(df.Exited)
    x_data_set = df.drop(["Exited"], axis=1)
    
    train_size = int(np.ceil((len(y_data_set) * 80) / 100))
    test_size = int(len(y_data_set) - train_size)

    x_train_data = np.array(x_data_set[:train_size])
    y_train_data = np.array(y_data_set[:train_size])
    x_test_data = np.array(x_data_set[train_size:])
    y_test_data = np.array(y_data_set[train_size:])

    # parameter stores the value of weights and bais
    parameters = nn.gradient_descent(x_train_data, y_train_data)
  
    # pred stores the predicted values from test data set
    pred = nn.prediction(parameters, x_test_data) 
    
     # pred stores the predicted values from train data set
    pred_train= nn.prediction(parameters, x_train_data)  
    
    #It calculates the accuracy
    train_accuracy = (100 - np.mean(np.abs(pred_train - y_train_data)) * 100)
    test_accuracy = (100 - np.mean(np.abs(pred - y_test_data)) * 100)

    print("train_accuracy = ", train_accuracy)
    print("test_accuracy = ", test_accuracy)


if __name__ == '__main__':
    main()

train_accuracy =  79.4125
test_accuracy =  80.5